@model OmbMf.Models.Ombudsman

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ombudsman</legend>

        @Html.HiddenFor(model => model.OmbudsmanId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        
        <div class="editor-label">
            <label>Facilities</label>
        </div>
        <div class="editor-field">
        <ul>
        @foreach (var f in ViewBag.Facilities)
        {
            <li><a href='/Facility/Edit?id=@f.FacilityId'>@f.Name</a></li>
        }
        </ul>
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
